@using Umbraco.TestInstance.Models.Forms
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}



<section class="bg-dark-gray pb-10">
	<!-- Email Attribute -->
	<partial name="Partials/forms/emailAttribute" model="@(new EmailAttributeFormModel())"></partial>
	<!-- Email Attribute End -->
</section>