@using Umbraco.TestInstance.Controllers
@inherits UmbracoViewPage<Umbraco.TestInstance.Models.Forms.EmailAttributeFormModel>


<div class="container">
    <h4>Email Attribute</h4>
    @if (Context.Request.Query.TryGetValue("email", out var value))
    {
        <h5>@value</h5>
    }

    @using (Html.BeginUmbracoForm<EmailAttributeController>("PostEmailAttributeForm"))
    {
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email"></input>
            <span asp-validation-for="Email"></span>
        </div>

        <input type="submit" value="Submit"/>
    }

</div>